<div id="footer">

<h1>Будем рады вас видеть!</h1>
    <h3>Присоединяйтесь к нашему курсу и начните строить самую желанную карьеру, доступную сегодня.<br>
         Мы заботимся о том, чтобы каждый класс был легко понятен, и чтобы все учащиеся обладали одинаковым уровнем знаний,<br>
          необходимых для современной индустрии высоких технологий.</h3>

<div class="boxes">
<div class="box-1">
    <img class="icon" srcset="https://cdn.pixabay.com/photo/2014/03/24/17/15/clock-295201_960_720.png 1x, https://cdn.pixabay.com/photo/2014/03/24/17/15/clock-295201_1280.png 1.778x" src="https://cdn.pixabay.com/photo/2014/03/24/17/15/clock-295201_960_720.png">
    <h2>Режим работы :</h2>
    <br>
    <h4> По будням с 12:00 до 18:00</h4>
</div>

<div class="box-2">
    <img class="icon" src="https://i.ibb.co/mhNGWdQ/location-mark.png">
    <h2>Где мы находимся:</h2>

    <h5>г. Цхинвал ул. Тельмана 70А <br>
        Тел: 8 ( 929 ) 808 - 81 - 00 <br>
        E-mail: it.center.rso@gmail.com
        
        </h5>
</div>
</div>

<p>Copyright © 2020. Сайт IT-центра </p>
</div>
