<div class="login">


    <h2>Войти</h2>
    <div style="position: relative; bottom: 70px; left: -85px">
    <label>
    <input placeholder=" Логин"/>
    </label><br><br>
    <label class="password">
    <input placeholder=" Пароль"/>
    </label>
    
    <div style="position: relative; top: 10px;">
    <input style="position: relative; left: 130px;" type="submit" value="Войти"/>
    <hr>
    <input style="position: relative; left: 85px;" type="submit" value="Регистрация"/>
    </div>
    </div>
    <button style="position: relative; left: 125px; bottom: 40px; color: red;" (click)="goBack()" class="back">Назад</button>
    </div>
