<iframe
 src="https://yandex.ru/map-widget/v1/?um=constructor%3A2e68f854a7204a79d7c53c375594ce623349656e8cf142b2bbc92129749d27e6&amp;source=constructor" width="500px" height="500px"class="map"> 
</iframe>
<h2 style="font-family: 'Times New Roman, Times, serif, Sans-serif';
font-size: 65px;
line-height: 1.1em;
letter-spacing: -1.4px;
position: relative; top: -500px; left: 50px; color: white;">

Первый в<br>Цхинвале<br>IT-Center</h2>

<strong style="position: relative; left: 50px; top: -500px; font-size: 25px; color: white;">Мы научим вас всем необходимым навыкам,<br> 
    необходимым для проектирования и разработки<br>
    живого веб-сайта WordPress, Angular, ASP.NET Core, 1C-Bitrix,<br>
    включая использование расширенных возможностей<br>
    HTML, CSS и мобильной разработки.<br></strong>

<a href="https://praktikum.yandex.ru/" class="button" >Начать обучение ➤</a>