<div class="content">
<div class="text-flex">

<h2 style="font-family: 'Times New Roman, Times, serif, Sans-serif';
font-size: 65px;
line-height: 1.1em;
letter-spacing: -1.4px;
 color: white;">

Первый в<br>Цхинвале<br>IT-Center</h2>

<strong style=" font-size: 25px; color: white;">Мы научим вас всем навыкам,<br> 
    необходимым для проектирования и разработки<br>
    живого веб-сайта WordPress, Angular, ASP.NET Core, 1C-Bitrix,<br>
    включая использование расширенных возможностей<br>
    HTML, CSS и мобильной разработки.<br></strong>


</div>

<div class="map-flex">
    <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A2e68f854a7204a79d7c53c375594ce623349656e8cf142b2bbc92129749d27e6&amp;source=constructor" width="500px" height="500px"class="map"> 
    </iframe>
</div>

</div>


<div class="box-1">
    
        <div style="flex-grow: 1">
           
            <h1 class="box-2">Чем мы занимаемся:</h1>

            <h4 style="font-size: 20px;line-height: 1.9em;color: #726f6f;">Разрабатываем мобильные приложения, <br>занимаемся веб-разработкой . </h4>
         
         </div>



        <div class="image-box-1">
            <img class="image" src="https://i.ibb.co/yyyZ5W0/kiuyt.jpg "  />
        </div>


</div>
<div class="government">



    <h2 class="boss">Наше Руководство</h2>


        <div style="display: flex; ">

    <img class="photo" src="https://i.ibb.co/rQGHsx3/kharebov.jpg"  /> 
       
     <div>
            <h3 class="boss1"  > Алан Харебов</h3>
          <h5 >  Технический предприниматель. Живет в США, штат Флорида. Работает на компанию «Validic». </h5>
          <a target="_blank"href="https://www.facebook.com/alan.kharebov?epa=SEARCH_BOX">
            <img class="logo-fb"  src="https://i.ibb.co/vD1PH8G/ikonka-feysbuk.png" /></a>
          <a target="_blank"href="https://www.instagram.com/alan_xa/"><img class="logo-inst" 
            src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
       
     </div>   
        
    </div>

    <div style="display: flex; padding-top: 10%;">

        <img class="photo" src="https://i.ibb.co/w4N4ZvF/tedeev-azamat.jpg"  /> 

        <div>
            
            <h3 class="boss1"> Азамат Тедеев</h3>
            <h5> СЕО компании "IT-Center RSO"</h5>
            <a target="_blank"href="https://vk.com/id85814399">
             <img class="logo-vk" src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>
            <a target="_blank"href="https://www.instagram.com/azamat_tedeevv/"><img class="logo-inst" 
                src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>

        </div>   
        
    </div>

    <div style="display: flex; padding-top: 10%;">

        <img class="photo" src="https://i.ibb.co/5TQ5nYs/maria-kulidzhanova.jpg"  /> 

        <div>
           
            <h3 class="boss1"> Мария Кулиджанова</h3>
            <h5> Работает над сайтом Водоканала </h5>

            
            <a target="_blank"href="https://vk.com/kulidzhanova29000"> 
         <img class="logo-vk" src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png"/></a>
            <a target="_blank"href="https://www.instagram.com/maria_kulidzhanova/"><img class="logo-inst" 
                    src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
            



        </div>   
        
    </div>
    
</div>

