<div class="news"   
    style="
    margin-left: 50px;  
    margin-right: 50px; 
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 100px;
    ">
<!--<div class="flex">
 <h2>Новости</h2>
   
 <h3>Во избежание заболевания вирусом "Covid-19" <br>
    наша организация ушла на карантин и работает дистанционно.</h3>
    
    

 <img class="photo" src="https://i.ibb.co/9wCnkTN/koronataym.jpg">
  
 <h4>
     Коронавирусная инфекция COVID-19 - это инфекционное <br>
     заболевание, вызванное новым коронавирусом,который<br>
     ранее у людей не обнаруживался.<br><br>
     Воздействие данного вируса приводит к развитию рес-<br>
     пираторного гриппоподобного заболевания с такими <br>
     симптомами как кашель,лихорадка и в более тяжелых<br>
     случаях,пневмония.Для защиты от инфекции следует <br>
     часто мыть руки и не прикасаться руками к лицу.
 </h4>


     </div>
     <br>
<br>
<br>
<br>
        <div class="flex">

     <h3>Сайт УО Администрации г.Цхинвал </h3>
       
        
       
    
     <img class="photo" src="https://psv4.userapi.com/c856236/u456755960/docs/d4/bb750e13ebd6/Snimok.png?extra=lQ7IevRmbDSZJzZfwIlNxDt-E94VXzz9EwvzkoFXGKQuKJyyimt7XstvqCZXKvWUE4GpVKoYlcTlx_09K2iN_gLZUCA9tkvickOIA7O61ElMjV3eu_GALInmC5c1_op8imZUcmHN73n3vAXFxJ8W1rV1ILID">
      
     <h4 class="text" style="color: rgb(0, 0, 0);">
         Сайт создан нашим сотрудником - Аланом Кабуловым.  <br>
         На этом сайте вы можете записать вашего ребенка в <br>
         детский сад, не выходя из дома,через электронную<br>
         очередь.Всю подробную информацию смотрите на сайте <br>
         <p><a href="https://uo-ruo.ru/">- https://uo-ruo.ru/ -</a></p>

        </h4>
    
    
         </div>-->
         

    <div *ngFor="let item of news">
      <div class="card" >
        <h3 class="card-header bg-dark text-white">{{item.payload.doc.data().title}}</h3>
        <div class="card-body">
            <img src="{{item.payload.doc.data().imageUrl}}" class="photo" >
            
            <h4 class="text" style="color: rgb(0, 0, 0); 
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                {{item.payload.doc.data().text}}
            </h4>
        </div>
        
        </div>
        <br>
    </div>



</div>