h2 {
    text-align: center;
    color: white;
    font-size: 47px;
     
}
h5 {
     color: rgba(255,255,255,0.68);
    text-align: center;
    font-size: 19px;
}
.photo {
    width: 330px; 
    height: 350px; 
    margin-top: 50px;
   float: left;
  margin-left: 70px;
  margin-right: 20px;
    border-radius: 15px;
}

h3 {
    font-size: 20px;
    color:white;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    text-decoration:underline;
    
}

.block {
   width: 1800px;
}

.flex {
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
}

.logo-vk {
    width: 57px; height: 57px;
   margin-left: 90px;
   margin-top: 30px;
   border-radius: 30px;
}

.logo-inst {
    width: 53.5px; height: 53.5px;
    border-radius: 30px;
    margin-left: 15px;
   
      }

      .logo-vk:hover {
        background-color: rgba(255, 255, 255, 0.699);
       
   }
   .logo-inst:hover {
        
        background-color: rgba(255, 255, 255, 0.699);
   }

/* hr {  */
       /* background-image: url(http://ilyakhasanov.ru/images/background/71.jpg); */
       /* color: cyan; */
       /* border: none; */
       /* height: 20px; */
   /* } */