<div class="team"   
style="background-color:#1E1E1E;
 margin-left: -8px;
margin-right: -8px;
margin-top: 0px;
padding-top: 50px;
padding-bottom: 130px;">
<h2>About Us</h2>
    <h5>Если вы хотите узнать больше о нас,
     <br>вы находитесь в правильном месте.
    </h5>
     <h2>Наши Сотрудники</h2>

     <hr>
     <div class="flex">
        <div class="block">
            <img class="photo" src="https://i.ibb.co/ThPkNhG/gassiev-stasik-1.jpg">
            <h3>Гассиев Вячеслав <br>
            17 лет<br>
            Занимается Android-разработкой<br>
            Тел: 8 (929) 811-69-87. 
            <a target="_blank"href="https://vk.com/id380356918"><img class="logo-vk" 
                src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>  
                <a target="_blank"href="https://www.instagram.com/vgassiev/"><img class="logo-inst" 
                    src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>    
            </h3>
        </div>


        <div class="block">
            <img class="photo" src="https://i.ibb.co/WFV26yR/kulu.jpg">
            
               <h3> Кулумбегов Олег <br>
                   18 лет<br>
                   Занимается веб-разработкой<br>
                   Создатель сайта "IT-Center RSO"<br>
                   Тел: 8 (929) 807-42-53. 
                     <a target="_blank"href="https://vk.com/kulumbegov5"><img class="logo-vk" 
                         src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>  
                         <a target="_blank"href="https://www.instagram.com/kulumbegov_/v"><img class="logo-inst" 
                            src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
                        </h3>
        </div>
    </div>
        
        <hr>

            <div class="flex">
                <div class="block">
                    <img class="photo" src="https://i.ibb.co/DkbHWKS/kabulov-alan.jpg">
                    <h3> Алан Кабулов <br>
                       17 лет<br>
                       Занимается веб-разработкой<br>
                       Создатель сайта Администрации г.Цхинвал<br>
                       Тел: 8 (929) 805-66-45.     
                       <a target="_blank"href="https://vk.com/adrastus"><img class="logo-vk" 
                        src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>  
                        <a target="_blank"href="https://www.instagram.com/_alan_kabulov_/"><img class="logo-inst" 
                            src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
                    </h3>
                </div>


                <div class="block">
                    <img class="photo" src="https://i.ibb.co/pK8S1xg/rusikk.jpg">
                       <h3> Руслан Котаев<br>
                           18 лет<br>
                           Занимается веб-разработкой<br>
                           Администратор сайта ЮОГУ<br>
                           Тел: 8 (929) 811-32-23.    
                           <a target="_blank"href="https://vk.com/anime.hater"><img class="logo-vk" 
                            src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>   
                            <a target="_blank"href="https://www.instagram.com/white_moll/"><img class="logo-inst" 
                                src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
                        </h3>
                </div>
        
       
      
    </div>
  
<hr>

    <div class="flex">
        <div class="block">
            <img class="photo" src="https://i.ibb.co/djCr0nP/kulu-2.jpg">
               <h3>Кулумбегов Азамат<br>
                    20 лет<br>
                  Начинающий разработчик <br>
                   Тел: 8 (929) 807-13-73.   
                   <a target="_blank"href="https://vk.com/id300797586"><img class="logo-vk" 
                    src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>    
                    <a target="_blank"href="https://www.instagram.com/azamatkulu525/"><img class="logo-inst" 
                        src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
                </h3>
        </div>

    
        <div class="block">
            <img src="https://i.ibb.co/pzzmWQZ/sanya.jpg" alt="" class="photo">
            <h3>Арсоев Александр<br>
                20 лет<br>
              Начинающий разработчик <br>
               Тел: 8 (929) 811-48-34.     
               <a target="_blank"href="https://vk.com/a.arsoev"><img class="logo-vk" 
                src="https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png" /></a>  
                <a target="_blank"href="https://www.instagram.com/mega_haniga/"><img class="logo-inst" 
                    src="https://i.ibb.co/P5r4wWP/hotpng-com-1.png"/> </a>
            </h3>
    </div>
      



</div>

</div>


