<div class="team"   
style="background-image:url(https://4.bp.blogspot.com/-lSP_qkLeXJQ/V_sZQbUVGrI/AAAAAAAADQs/oA1hJNqQmpALpht5In1IuKnbSsg9miHeACEw/s1600/003.jpg);
 margin-left: -8px;
margin-right: -8px;
margin-top: -40px;">
<h2>About Us
    <h5>Если вы хотите узнать больше о нас,
     <br>вы находитесь в правильном месте.
    </h5>
     Наши Сотрудники</h2>

     <div style="display: flex;">
     <img class="photo" src="https://i.ibb.co/ThPkNhG/gassiev-stasik-1.jpg">
        <h3>Гассиев Вячеслав <br>
            17 лет<br>
            Занимается Android-разработкой<br>
            Хобби: боевые исскусства, пишет песни.<br>
            Тел: 8 (929) 811-69-87.     
        </h3>
     
</div>

</div>
